.ha-popover {
    background-color: #fff;
    width: 300px;
    height: auto;
    position: fixed;
    display: table;
    margin: auto;
    -moz-transition: transform 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86);
    -o-transition: transform 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86);
    -webkit-transition: transform 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86);
    transition: transform 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    padding: 10px;
    padding-bottom: 20px;
    opacity: 0;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    pointer-events: none;
    z-index: 1000;
    max-width: 80vw;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.02);
}

.ha-popover:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.ha-popover.top:after {
    left: 50%;
    top: 100%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #ebebeb;
}

.ha-popover.bottom:after {
    left: 50%;
    bottom: 100%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ebebeb;
}

.ha-popover.left:after {
    top: 50%;
    left: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 9px solid transparent;
    border-left: 9px solid #ebebeb;
    border-bottom: 9px solid transparent;
}

.ha-popover.right:after {
    top: 50%;
    right: 100%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 9px solid transparent;
    border-right: 9px solid #ebebeb;
    border-bottom: 9px solid transparent;
}

.ha-popover .ha-popover-header,
.ha-popover .ha-popover-body,
.ha-popover .ha-popover-footer {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
}

.ha-popover .ha-popover-body {
    -moz-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.5s;
    -o-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.5s;
    -webkit-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.5s;
    transition: 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.5s;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 10px;
}

.ha-popover .ha-popover-header {
    -moz-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.4s;
    -o-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.4s;
    -webkit-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.4s;
    transition: 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86) all 0.4s;
}

.ha-popover .ha-popover-footer {
    -moz-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) transform 0.6s;
    -o-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) transform 0.6s;
    -webkit-transition: 0.2s cubic-bezier(0.36, 1.6, 0.76, 0.86) transform 0.6s;
    transition: 0.3s cubic-bezier(0.36, 1.6, 0.76, 0.86) transform 0.6s;
    display: table;
    margin: auto;
}

.ha-popover .ha-popover-btn {
    border-radius: 2px;
    display: inline-block;
    margin: 0 5px;
}

.ha-popover .ha-popover-btn:hover {
    background-color: #00bfff;
}

.ha-popover-btn {
    display: block;
    margin: auto;
    background-color: #3b3b3b;
    color: #ebebeb;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.ha-popover.show {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: inherit;
}

.ha-popover.show .ha-popover-body,
.ha-popover.show .ha-popover-header,
.ha-popover.show .ha-popover-footer {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ha-popover.show .close-btn {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.ha-popover.show .close-btn:before {
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.ha-popover.show .close-btn:after {
    -moz-transform: rotateZ(135deg);
    -ms-transform: rotateZ(135deg);
    -o-transform: rotateZ(135deg);
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
}

.ha-popover .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    -moz-transition: 0.1s ease all;
    -o-transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all;
    transition: 0.1s ease all;
    position: relative;
    cursor: pointer;
    perspective: 100px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
}

.close-btn:before,
.close-btn:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #656565;
    -moz-transition: transform 0.3s cubic-bezier(0.86, 0.04, 0.09, 0.9) 0.2s, background-color 0.2s ease;
    -o-transition: transform 0.3s cubic-bezier(0.86, 0.04, 0.09, 0.9) 0.2s, background-color 0.2s ease;
    -webkit-transition: transform 0.3s cubic-bezier(0.86, 0.04, 0.09, 0.9) 0.2s, background-color 0.2s ease;
    transition: transform 0.3s cubic-bezier(0.86, 0.04, 0.09, 0.9) 0.2s, background-color 0.2s ease;
    position: absolute;
    top: 50%;
    left: 0;
}

.close-btn:hover:before,
.close-btn:hover:after {
    background-color: #00bfff;
}